@import 'tailwindcss';
@import './color.css';
@import './typography.css';

@layer base {
  .radix-themes[data-has-background='true'] {
    background-color: var(--color-dark-700) !important;
    color: var(--color-light-100) !important;
  }

  button {
    cursor: pointer !important;
  }

  @keyframes progress {
    0% {
      left: -50%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: -50%;
    }
  }

  .webkit::-webkit-scrollbar {
    width: 0;
  }
}
