@import 'tailwindcss';
@import './color.css';
@import './typography.css';

@layer base {
  .radix-themes[data-has-background='true'] {
    background-color: var(--color-dark-700) !important;
    color: var(--color-light-100) !important;
  }

  @keyframes progress {
    0% {
      left: -50%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: -50%;
    }
  }

  .webkit::-webkit-scrollbar {
    width: 0;
  }

    /* Scroll */
  /* html::-webkit-scrollbar {
    width: 4px;
    background-color: var(--color-dark-700);
  }

  html::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 3px;
  }
  
  html::-webkit-scrollbar-thumb:hover {
    background-color: #8D9094;
    border-radius: 3px;
  } */
  /* End-scroll */
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

