@layer typography {

    .text-large {
        font-weight: 600;
        size: 26px;
        line-height: 36px;
        letter-spacing: 0px;
    }

    .text-h1 {
        font-weight: 700;
        size: 20px;
        line-height: 36px;
        letter-spacing: 0px;
    }

    .text-h2 {
        font-weight: 700;
        size: 18px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    .text-h3 {
        font-weight: 600;
        size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    .text-regular_text16 {
        font-weight: 400;
        size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
    }

    .text-bold_text16 {
        font-weight: 700;
        size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
    }

    .text-regular_text14 {
        font-weight: 400;
        size: 14px;
        line-height: 24px;
        letter-spacing: 0%;
    }

    .text-medium_text14 {
        font-weight: 500;
        size: 14px;
        line-height: 24px;
        letter-spacing: 0%;
    }

    .text-bold_text14 {
        font-weight: 700;
        size: 14px;
        line-height: 24px;
        letter-spacing: 0%;
    }

    .text-small_text {
        font-weight: 400;
        size: 12px;
        line-height: 16px;
        letter-spacing: 0%;
    }

    .text-semi-bold-small_text {
        font-weight: 600;
        size: 12px;
        line-height: 16px;
        letter-spacing: 0%;
    }

    .text-regular_link {
        font-weight: 400;
        size: 14px;
        line-height: 24px;
        letter-spacing: 0%;
        text-decoration: underline;
    }

    .text-small-link {
        font-weight: 400;
        size: 12px;
        line-height: 16px;
        letter-spacing: 0%;
        text-decoration: underline;
    }
}